.Section-presentacion {
    hr{
        background-color: #B3282D;
    }
    h2{
        color: pink;
    }
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

