.Galeria-Container {
  margin-top: 225px;
  background-image: url();
  display: flex;
  min-height: 700px;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/CIUDAD_ENCANTALA_GALERIA_BACKGROUND.png");

  
  .imagenCarrusel{
    width: 98%;
    height: 100%;
    margin: 15px;
  }
  .containerImage {
    max-width: 342px;
    height: 475px;
   
    overflow: hidden;
  }
  
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .Galeria-Container{
    margin-top: 0px;
  }
}
@media screen and (max-width: 600px) and (min-width: 100px) {
  .Galeria-Container{
    min-height: 630px;
    .containerImage {
      width: 225px;
      height: 260px;
     
      overflow: hidden;
    }
    .imagenCarrusel{
      width: 100%;
    }
    .gridgapSlider{
      grid-gap: 30px;
    }
  }
}

