.Header-Container-CLE {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  min-height: 140px;
  align-items: center;
  @media (max-width: 1300px) {
    height: auto;
    min-height: 192px;
  }

  .Header-upper {
    width: 88.5%;
    z-index: 9999999;
    background-color: #ffffff;
    height: 100px;
    position: fixed;
    top: 40px; /* Posición inicial */
    transition: opacity 0.5s ease; /* Transición de opacidad para una transición suave */
    opacity: 1; /* Opacidad inicial */
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 79px;
    @media (max-width: 1300px) {
      width: 100%;
      top: 0px;
      min-height: 60px;
      height: 60px;
    }

    .Grid-Links {
      height: 100%;
      padding: 0 0 0 0;
      margin: 0;
      @media (max-width: 1150px) {
        justify-content: space-between;
      }
      .Grid-Items-Header {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 1150px) {
          .logo-img {
            max-height: 32px;
            margin-left: 20px;
          }
        }

        &.logo-container {
          @media (max-width: 1150px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
          }
        }
        .Grid-links-uls {
          width: 100%;

          ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            .Enlace-linked {
              text-decoration: none;
              cursor: pointer;
              :hover {
                transform: translateY(-2%);
                color: #b3282d;
              }
            }
          }
          @media (max-width: 1150px) {
            display: none;
          }
        }
        .button-closed {
          padding: 0;
          border: none;
          background: none;
        }
        .Phone-Whats-Item {
          background-color: #b3282d;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;

          a {
            cursor: pointer;
            :hover {
              transform: translateY(-5%);
            }
          }
          @media (max-width: 1150px) {
            display: none;
          }
        }
        .hamburguer {
          display: none;
          @media (max-width: 1150px) {
            display: inline;
          }

          button {
            background-color: #ffffff;
            border: none;
            hr {
              background-color: #b3282d;
              width: 24px;
              border: none;
              height: 3px;
            }
          }
        }
      }
    }
  }
  .Menu-Hamburguer-Superior {
    background-color: #ffffff;
    width: 100%;
    z-index: 999999999999999;
    position: fixed;
    transform: translateX(0%);
    transition: transform 4.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
    margin-top: 3em;
    display: none;
    button {
      position: absolute;
      top: 10px;
      right: 13px;
      border: none;
      background-color: #ffffff00;
    }
    .Menu-hamburguer {
      width: 90%;
      margin: 0;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
        .Enlace-linked {
          text-decoration: none;
          margin: 0.5em auto;
          cursor: pointer;
          :hover {
            transform: translateY(-2%);
            color: #b3282d;
          }
        }
      }
      .Phone-Whats-Item-2 {
        display: none;

        @media (max-width: 1000px) {
          display: inline;
          background-color: #b3282d;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
          a {
            cursor: pointer;
            :hover {
              transform: translateY(-5%);
            }
          }
        }
      }
    }
    @media (max-width: 1150px) {
      display: inline;
    }
  }
}
