.footer-component {
  background-color: #e4e4e4;
  @media (max-width: 900px) {
    padding-top: 52px;
  }
  .inside-footer {
    width: 100%;
    &.first {
      min-height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 900px) {
        padding-bottom: 52px;
      }
      .footer-item-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          cursor: pointer;
          text-decoration: none;
          :hover {
            transform: translateY(-5%);
          }
        }
        svg {
          margin: 0 0.7em;
          @media (max-width: 900px) {
            margin: 1em 1.3em 0em;
          }
        }
        &.uno {
          a {
            img {
              @media (max-width: 900px) {
                min-width: 240px;
              }
            }
          }
        }
        &.dos {
          flex-direction: column;
        }
        // &.tres {

        // }
      }
    }
    &.second {
      background-color: #b3282d;
      min-height: 89px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      .grid-content {
        max-width: 1644px;
        width: 85%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .footer-item-grid {
          display: flex;
          align-items: center;
          a {
            color: #ffffff;
            cursor: pointer;
            text-decoration: none;
            :hover {
              transform: translateY(-5%);
            }
          }
          &.uno {
            justify-content: start;
            flex-direction: column;
            .figmaandreact {
              margin-left: 0.8em;
              &.mobile {
                display: none;
                @media (max-width: 900px) {
                  display: inline;
                  margin: 20px auto;
                }
              }
            }
          }
          &.dos {
            justify-content: center;
            align-items: center;
            @media (max-width: 900px) {
              padding-bottom: 30px;
            }
            .figmaandreact {
              margin-left: 0.8em;
              &.web {
                display: inline;
                @media (max-width: 900px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
