.Tamanos-Terrenos {
  background-color: #f5f5f5;
}
.Tamanos-Terrenos .tamanos-container {
  margin: 20px auto 40px;
  width: 99.8%;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item {
  min-height: auto;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.uno {
  margin-bottom: 34px;
  min-height: 580px;
  background-image: url("../../assets/img/Ciudadlaencantada_Map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 900px) {
  .Tamanos-Terrenos .tamanos-container .tamanos-item.uno {
    min-height: 170px;
  }
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #f5f5f5;
  border: solid 10px #d9d9d9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos .content-up-bottom {
  width: 90%;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos .content-up-bottom.upp {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos .content-up-bottom.upp .Eng-elementos {
  margin-left: 2em;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos .content-up-bottom.bottomm {
  margin-bottom: 36px;
}
@media (max-width: 900px) {
  .Tamanos-Terrenos .tamanos-container .tamanos-item.dos .content-up-bottom.bottomm {
    margin-bottom: 20px;
  }
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos table {
  width: 93%;
}
@media (max-width: 900px) {
  .Tamanos-Terrenos .tamanos-container .tamanos-item.dos table {
    margin-bottom: 0.5em;
  }
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos table thead tr th {
  font-size: 16px;
  background-color: #b3282d;
  color: #ffffff;
  padding: 10px 0 10px 14px;
  text-align: left;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos table tbody tr td {
  border: #e0e0e0 solid 1px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 8px 0px 8px 14px;
  color: #4f4f4f;
}
@media (max-width: 900px) {
  .Tamanos-Terrenos .tamanos-container .tamanos-item.dos table tbody tr td {
    font-size: 12px;
    line-height: 14px;
  }
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.dos table tbody tr td.uno {
  background-color: #e7cbcc;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres {
  padding: 0;
  max-width: 65%;
  margin: 0 0 0 auto;
}
@media (max-width: 900px) {
  .Tamanos-Terrenos .tamanos-container .tamanos-item.tres {
    max-width: 100%;
    padding-left: 0;
    margin-top: 1.5em;
  }
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres .slick-dots li.slick-active button:before {
  color: #b3282d;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres .slick-arrow {
  display: none !important;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres .slick-prev {
  display: none !important;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres .slick-slider .slick-dots li {
  margin: -2.5em 0px 0px;
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres .backgrounds-containers {
  height: 420px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 900px) {
  .Tamanos-Terrenos .tamanos-container .tamanos-item.tres .backgrounds-containers {
    height: 215px;
  }
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres .backgrounds-containers.imagen-uno {
  background-image: url("../../assets/img/CIUDAD_ENCANTADA_TAMANOS_RENDER1.png");
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres .backgrounds-containers.imagen-dos {
  background-image: url("../../assets/img/CIUDAD_ENCANTADA_TAMANOS_RENDER2.png");
}
.Tamanos-Terrenos .tamanos-container .tamanos-item.tres .backgrounds-containers.imagen-tres {
  background-image: url("../../assets/img/CIUDAD_ENCANTADA_TAMANOS_RENDER3.png");
}/*# sourceMappingURL=Tamanosterrenos.css.map */